{% extends 'main.html' %}
{% block content %}

<h2>Documents</h2>

<div class="files">
    <div class="new-file-button">
        <a href="/docs/edit" align="right"><button>New file</button></a>
    </div>
    {% for filename in files %}

    <form action="/docs" method="post">
        <div class="file">
            <b>{{ filename.filename }}</b>
            <i align="right" class="type" id="{{ filename.type }}">{{ filename.type }}</i>
            <div class="file-container">
                <button class="file-button" name="file-control" value="{{ filename.filename }}|view" type="submit">View</button>
                <button class="file-button" name="file-control" value="{{ filename.filename }}|edit" type="submit">Edit</button>
                <button class="file-button" id="del" name="file-control" value="{{ filename.filename }}|del" type="submit">Del</button>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock %}